
/* <!--

	@author: Arijit Saha
	@desc: css file for user bookings page my_bookings.html
	@file path from root: Ex ./my_bookings.css

--> */





/* Bus Name Pickup, Drop ,Status, See Route */
.header{
    position: fixed;
}

.content{
    margin-bottom:100px;
}


.content-element {
    height: 139px;
    width: 100%;
    box-shadow: 0px 2px 9px 4px rgba(198, 198, 198, 0.25);
    background: rgba(255, 255, 255, 1);
    margin-bottom: 59px;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    color: rgba(51, 71, 86, 1);
    

}

.content-element-main {
    width: 80%;
    height: 79px;
    margin: auto;
    /* background-color: blue; */
    display: flex;


}

.content-element-main-divs {
    margin: auto;
    display: flex;
    flex-direction: column;
}



.bus-name-div {
    display: flex;
    margin-bottom: 17px;
}

.bus-name-text {
    margin: auto;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
}

.bus-icon {
    margin-right: 8px;
}

.bus-no {
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.035em;
}

.location-icon {
    margin-right: 2px;
}

.location-icon-img {
    height: 19px;
    width: 17px;
}

.bus-name {
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.pickup-div {
    display: flex;
    margin-bottom: 4px;
}

.pickup-text {
    margin-right: auto;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.035em;
    text-align: left;
    color: rgba(255, 76, 41, 1);
}

.pickup-location-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.035em;
    text-align: left;
}

.pickup-time-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.035em;
    text-align: left;
}

.drop-div {
    display: flex;
    margin-bottom: 4px;
}

.drop-icon-img {
    height: 19px;
    width: 17px;
}

.drop-location {
    margin-right: auto;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.035em;
    text-align: left;
    color: rgba(255, 76, 41, 1);
}

.drop-location-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.035em;
    text-align: left;
}

.drop-time-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.035em;
    text-align: left;
}

.status-div {
    display: flex;
    margin-bottom: 4px;
}

.status-text {
    margin-right: auto;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.035em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.cancel-btn {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.035em;
    text-align: right;
    color: rgba(255, 76, 41, 1);
    cursor: pointer;
}

.confirmed-text {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.035em;
    text-align: left;
    color: rgba(13, 147, 19, 1);
}

.waiting-text {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.035em;
    text-align: left;
    color: rgba(212, 171, 25, 1);
}

.cancelled-text {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.035em;
    text-align: left;
    color: rgba(255, 76, 41, 1);
}

.expired-text {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.035em;
    text-align: left;
    color: rgba(137, 137, 137, 1);
}

.see-route-div {
    display: flex;
    margin-bottom: 17px;
}

.see-route-text {
    margin: auto;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.035em;
    text-align: left;
    color: rgba(79, 79, 79, 1);
    cursor: pointer;
}

.date-info {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.035em;
    text-align: right;
    color: rgba(80, 79, 79, 1);
}

.my-booking-div {
    height: 43px;
    /* width: 225px; */
    width: 50%;
    margin: auto;
    border-radius: nullpx;

    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    margin: auto;
    margin-top:35px;

}

.my-booking-div-text {
    margin-left: 1%;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 3%;
}
.my-booking-div-ticket-filter {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 200;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 3%;

}

.my-booking-icon-div {
    margin-top: auto;
    margin-bottom: 4px;
    margin-left: 15px;
}


/*  ends here*/



/* OverLays */
.cancel-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

}

.cancel-div {
    width: 50%;
    height: 20%;
    position: absolute;
    top: 40%;
    left: 50%;
    right: auto;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;

}

.route-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    /* cursor: pointer; */
}

.route-div {
    width: 60%;
    height: 70%;
    /* background-color: blue; */
    position: absolute;
    top: 40%;
    left: 50%;
    right: auto;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
}

.route-overlay-main-div {
    width: 400px;
    height: auto;
    padding:20px;
    background-color: #FFFFFF;
    /* border: 2px solid black; */
    border: 2px solid whitesmoke;
    border-radius: 5px;
    overflow-y: auto;
    color: #000000;
    display: flex;
    flex-direction: column;
    font-size:15px!important;
    margin: auto;
}

.cancel-overlay-main-div {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    overflow-y: auto;
    color: #000000;
    display: flex;
    flex-direction: column;

}


.cancel-text {
    width: 80%;
    margin: auto;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
}

.confirm-cancel-buttons {
    width: 80%;
    margin: auto;
    display: flex;
}

.confirm-cancel-icon {
    height: 14 px;
    width: 13.717439651489258px;

}

.cancel-button {
    height: 43px;
    width: 30%;
    background-color: #334756;
    color: #FFFFFF;
    margin: auto;
    cursor: pointer;
    border: 0.5px solid whitesmoke;
    border-radius: 5px;
}

.confirm-button {
    height: 43px;
    width: 30%;
    background-color: #FF4C29;
    color: #FFFFFF;
    margin: auto;
    cursor: pointer;
    border: 0.5px solid whitesmoke;
    border-radius: 5px;
}

.route-overlay-crossdiv {
    /* margin-top: 1%; */
    display: flex;
    height: 2%;
    width: 100%;
    display: flex;
}

.route-cross-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    height: 36px;
    width: 43px;
    cursor: pointer;
}

.route-overlay-main-div-elements-div {
    margin-top: 1.5%;
    /* background-color: red; */
    display: flex;
    height: 20%;
    width:100%;
    flex-direction: row;
    justify-content: left;
    /* width: 95%; */
}

.route-overlay-time {
    width: auto;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF4C29;
    margin: auto;
    text-align: left;
    /* background-color: yellow; */
    /* margin-right: auto; */
}

.route-overlay-icon {

    /* height: 21.384418487548828px;
    width: 27.146833419799805px; */
    height:15px;
    width:15px;

    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    margin-left: 50px;
}

.route-overlay-place {
    width: 220px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    padding-left:50px;
    color: #000000;
    /* margin-left: auto; */
    margin: auto;
    /* background-color: green; */
}

/* .confirmed,.CONFIRMED", "WAITING", "AVAILED", "CANCELLED */
.confirmed
{
    color: green;
    background-color:transparent;
}
.waiting
{
    color: rgb(191, 144, 63);
    background-color:transparent;
}
.availed 
{
    color: grey;
    background-color:transparent;
}
.cancelled
{
    color: red;
    background-color:transparent;
}
select {
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    /* or any other styles you want to apply to the select element */
  }
  

  
  select option:hover {
    /* background-color: red;
    color: #fff; */
    appearance: none;

    /* or any other styles you want to apply to the options on hover */
  }
  


@media only screen and (max-width:400px){
    .route-div{
        width:94%;
    }
    .route-overlay-place,.route-overlay-time{
        font-size:15px;
    }
    .route-overlay-main-div {
        width: 100%!important;
        /* background-color: #000000; */
        margin:none;
    }
    .route-overlay-icon
    {
        margin-left: 10px;
    }
    
}
@media only screen and (max-width:1050px)
{
    .my-booking-div
    {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .my-booking-div-ticket-filter
    {
        margin-right: auto;
        margin-left: 3%;
    }
}
@media only screen and (max-width:515px)
{
    .my-booking-div-text
    {
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(0, 0, 0, 1);
    }
}

/* Overlay ends here */

/* Media Query */
/* @media(max-width: 1300px) {
    .pickup-drop {
        display: none;
    }

}

@media(max-width: 1008px) {
    .bus-icon {
        display: none;
    }

}

@media(max-width: 865px) {
    .bus-no {
        display: none;
    }
} */

/* Media Query Ends Here*/

.ticket-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Individual ticket item */
  .ticket-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Status label */
  .ticket-status {
    font-weight: bold;
    text-transform: uppercase;
  }